#products{
    padding-left: 55px;
    padding-right: 55px;
    margin-bottom: 100px;
}

.products__title{
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 60px;
}

.products__title-word{
    color: var(--primary-color);
}

.product-list{
    display: flex;
    gap: 30px;
    align-items:center;
    margin-bottom: 40px;
}

.product-item{
   
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.15);
    padding: 25px 40px;
}

.product-item-main-image{
    width: 95px;
}

.product-item-seller{
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
    color:#262626;
    margin-bottom: 5px;
}

.product-item-name{
    font-size: 16px;
    color:#262626;
    margin-bottom: 15px;
}

.product-item-price{
    font-size: 24px;
    font-weight: 500;
    color:var(--primary-color);
    margin-bottom: 15px;
}

.product-item-button{
    display: flex;
    gap: 10px;
    align-items:center;
    color:var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 10px 25px;
    border-radius: 10px;
    background-color:rgba(255, 255, 255, 0);
}

.product-item-button p{
    font-size: 18px;
    font-weight: 300;
}

.shop-products-button{
    display: flex;
    justify-content: center;
    align-items:center;
}

.shop-products-button button{
    display: flex;
    align-items:center;
    gap: 10px;
    font-size: 18px;
    font-weight: 300;
    color:white;
    padding: 12px 26px;
    border:none;
    background-color:var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
}