#blog{
    background-color: white;
    padding: 100px 55px;
    margin-bottom: 100px;
}

.blog-list{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 30px;
}

.blog-item{
    width: 370px;
}



.blog-image-container{
    width: 370px;
    height: 225px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
}

.blog-image-arrow-wrapper{
    width: 100px;
    height: 100px;
    background-color:var(--primary-color);
    border-radius: 100%;
    position: absolute;
    right: -50px;
    bottom: -50px;
}

.blog-image-arrow-wrapper img{
    position: absolute;
    top: 20px;
    left: 20px;
}

.blog-item-info{
    display:flex;
    align-items:center;
    font-size: 14px;
    color:#262626;
    gap: 7px;
    margin-bottom: 18px;
}

.blog-item-info .dot{
    width: 5px;
    height: 5px;
    background-color:var(--primary-color);
    border-radius:100%;
}

.blog-item-content h2{
    font-size: 20px;
    font-weight: 600;
    color:#262626;
}

.blog-item-content p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 300;
}