footer{
    background-color:var(--primary-color);
    padding: 50px 184px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer-block-header{
    font-size: 14px;
    color:white;
    font-weight: 500;
}

.footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-links a{
    color:white;
    font-size: 14px;
    font-weight: 300;
    line-height: 10px;
    text-decoration: none;
   
}