:root{
    --main-bg-color:#E5E5E5;
    --primary-color: #9C9C42;
}

body{
    font-family: "Poppins", serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

