:root{
    --main-bg-color:#E5E5E5;
    --primary-color: #9C9C42;
}

body{
    font-family: "Poppins", serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.container{
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.section-title{
    display: flex;
    align-items: end;
    gap: 15px;
    margin-bottom: 50px;
}

.section-title h1{
    font-size: 36px;
    font-weight: bold;
    color:#262626;
}

.section-title-more-news{
    display: flex;
    align-items:center;
    gap: 5px;
    transform: translateY(-9px);
}

.section-title-more-news p{
   
    color: var(--primary-color);
    font-size: 16px;
    font-weight: 500;
}
